In [2]:
! pip install mysql-connector-python
! pip install pandas

Requirement already satisfied: mysql-connector-python in /opt/conda/lib/python3.11/site-packages (8.3.0)

In [6]:
! pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.11/site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.23.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.11/site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [7]:
import mysql.connector
import pandas as pd

In [ ]:
config = {
  'user': 'root',
  'password': 'testfligoo',
  'host': '192.168.16.4',
  'database': 'test_fligoo',
  'raise_on_warnings': True
}

cnx = mysql.connector.connect(**config)

cur = cnx.cursor()
cur.execute("SELECT * FROM testdata") 
print(cur.description)

columns = ['flight_id','flight_date','flight_status','departure_airport','departure_timezone','arrival_airport','arrival_timezone',
             'arrival_terminal','airline_name','flight_number','created_timestamp']

data = []
for row in cur:
    data.append(tuple(row))
    
df = pd.DataFrame(data,columns=columns)

In [6]:
df

Empty DataFrame
Columns: [flight_id, flight_date, flight_status, departure_airport, departure_timezone, arrival_airport, arrival_timezone, arrival_terminal, airline_name, flight_number, created_timestamp]
Index: []